<%- include("../partials/header.ejs")%>

<div class="container">

    <h4><%=sheet.title%></h4>
    <h3><%= sheet.tasks[0].instruction%></h3>
    <h5><%=sheet.tasks[0].questions[0].text%></h5>
    <h5>A)<%=sheet.tasks[0].questions[0].answers[0]%></h5>
    <h5>A)<%=sheet.tasks[0].questions[0].answers[1]%></h5>
    <h5>A)<%=sheet.tasks[0].questions[0].answers[2]%></h5>
</div>
<%- include("../partials/footer.ejs")%>